.card
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  .card-content
    position: relative
    display: flex
    justify-content: space-between
    align-items: center

    .remove
      position: absolute
      right: -50px
      top: 5px
      cursor: pointer